---
key: 1
title: Meet the team
permalink: /about/
options: fullwidth
excerpt:
image: raguAbout.jpeg
background-image: 123.jpeg
---



<body>
  <p style="font-size:20px !important; text-align: justify;">
    We are a group of 6 middle schoolers with varying levels of personal interests but are united
    as a team on technical and scientific curiosities. Life has become so easy and comfortable
    through science and technology innovations. While, as a consumer of those technologies we
    feel happy but soon realized that it will be much happier to be part of those innovations
    itself. Hence, we joined hands to make a difference. The tech challenge is certainly inspiring
    the creativity of young minds such as ours. This is our second year in the tech challenge as a
    team, and we can confidently say that our enthusiasm has just doubled compared to last
    year on solving engineering problems. It is sad that Covid-19 has created a situation to not
    complete the challenge physically, but we are glad to make progress through online means
    (thanks again to technology!).
    </hr>
    <br></br>
    <b>You got technological challenges or problems, don’t worry we ‘GOT SCIENCE, and That’s
    US”.</b>
  </p>
  <br></br>
  <h4> Raghav Ramji </h4>
  <p>{% include post_picwrap.html pos = "left" max = "256" src="/images/RaghavRamjiBio.jpg" %}
    <h4>Safety Officer</h4>
    This is Raghav Ramji, I am a 6th grader from Peterson Middle School, in Santa
    Clara Unified School District. I like the Tech challenge because, It gives you the chance
    to engineer, build, brainstorm, as a team. You get to make complex devices that no one
    thought you could make. I also like it because It inspires me to do more of these ideas,
    and one of the most important reasons I like tech challenges is that I could work with my
    friends.
    I have been participating in the tech challenge for 2 years, and I really enjoyed it
    both those times. Tech challenge has taught me how to operate machinery tools in a
    safe manner, expansion in both area and volume, Boyle's law, and force in motion.
    In this year's tech challenge, I was the safety officer. There were many situations
    where there were instances where we had to wear goggles and helmets, to stay
    protected, now when I do experiments in school, or when I am playing sports, I always
    remember to stay safe with safety equipment. Tech challenge also helped me with
    working as a team, and now I can efficiently work with my classmates at school.
    My hobbies are playing Minecraft, playing board games such as Catan, building lego
    sets, and playing a lot of sports.
    <br></br>
  </p>
  <h4> Sai Sahasra Syamala </h4>
  <p>{% include post_picwrap.html pos = "left" max = "256" src="/images/sai.jpg" %}
    <h4>Journal Writer</h4>
    Sai is a current 6th grader at Cabrillo Middle School. She really likes Tech Challenge as it allows her to be
    creative. Sai has been participating in Tech Challenge for 2 years now, and she has learned various things over this
    time span. One important thing Sai has learned is that it is okay to make mistakes as long as you learn from them.
    Adding on, some of her personal interests and hobbies include painting and reading. In conclusion, Tech Challenge is
    an amazing experience for her and she hopes to continue Tech Challenge in the years to come.
    <br></br>
  </p>
  <h4> Shaanvi Mahesh </h4>
  <p>{% include post_picwrap.html pos = "left" max = "256" src="/images/shaanvi.jpeg" %}
    <h4>Note Taker</h4>
    Shaanvi is a 6th grader going to Peterson Middle School. Her favorite things to do are reading books and painting.
    The reason she likes Tech Challenge is that she feels like this activity is an amazing way to get a hands-on
    learning experience with building innovative designs, collaboration through teamwork, and above all having fun doing
    what interests her. Thank you, Tech Challenge!
    <br></br>
  </p>
  <h4> Shaurya Sharma </h4>
  <p>{% include post_picwrap.html pos = "left" max = "256" src="/images/Shaurya.jpg" %}
    <h4>Project Manager</h4>
    Hello Tech Challenge, my name is Shaurya Sharma, and ​I am a 6th grader, attending Don Callejon Middle School. My
    interests lie in ​STEM, sports, and music. Being a current STEM student, I enjoy hands-on activities that include
    robotics and different kinds of technology. I enjoy playing and watching different types of sports. Lastly, I love
    playing the drums because I can express my feelings and emotions while playing music. ​This is my second year
    participating in the Tech Challenge. I like Tech Challenge because it gives me an opportunity to think outside the
    box, share my ideas with others, and most importantly, express my passion for STEM. ​Being the Project Manager of my
    group, I have learned a wide variety of leadership skills. My role has taught me how to make sure that the whole
    group maintains good progress and remains positive throughout the experience. This is all while I work with my team
    in creating a collaborative environment that incorporates the expertise of all the six members of my team.
    <br></br>
  </p>
  <h4> Shreya Chhaparwal </h4>
  <p>{% include post_picwrap.html pos = "left" max = "256" src="/images/Shreya.jpeg" %}
    <h4>Journal Writer and Supply Manager</h4>
    My name is Shreya Chhaparwal. I am in sixth grade at Peterson Middle School. Tech Challenge gives an opportunity to
    think critically in order to solve the challenge. You get to explore many model designs and gets you closer to
    science. This is my first year participating in Tech Challenge. This challenge helped me to understand the
    engineering design process. This gave me an insight into product design and implementation. Something I’ve learned
    in Tech Challenge is that practice makes perfect. If your design doesn’t work at first, you keep going and fix it
    again and again until you get it right. Tech Challenge teaches about failure and success.
    <br></br>
  </p>
  <h4> Vihaan Kale </h4>
  <p>{% include post_picwrap.html pos = "left" max = "256" src="/images/Vihaan_Picture.HEIC" %}
    <h4>Note Taker</h4>
    My name is Vihaan Kale and I am in 6th grade. I go to Don Callejon School. This is my 2nd year doing Tech Challenge.
    I like the Tech challenge because it provides a learning experience for all people in a team. It also introduces us
    to engineering and being organized. This has led me to be more organized at school and have an engineering
    background. I have learnt how to use a saw, place batteries in the right way, how to have good team safety, and how
    to work like a team. I like taking notes at school, so my team assigned me as a Note Taker. One situation where the
    tech challenge helped me is during the finals last year, where our hovercraft crashed. So our team came together to
    fix the batteries that had fallen out. We would never have won if we didn't know how to fix the batteries. Another
    example where the tech challenge has helped me is in school, where our team was supposed to create a flashlight that
    was operable. Since I knew how to operate wires, I told my team how to do it and we created the best working
    flashlight. I would recommend the tech challenge to anyone who likes to be a part of a team and do engineering.
    <br></br>
  </p>
</body>